<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!-- 
    <bean id="userDao" class="com.smartdp.platform.dao.impl.UserDaoImpl" parent="baseDao"></bean>
	<bean id="userService" class="com.smartdp.platform.service.impl.UserServiceImpl">
		<property name="baseDao" ref="userDao" />
		<property name="userDao" ref="userDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="userAction" class="com.smartdp.platform.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="groupService" ref="groupService" />
		<property name="roleService" ref="roleService" />
	</bean>
	<bean id="groupDao" class="com.smartdp.platform.dao.impl.GroupDaoImpl" parent="baseDao"></bean>
	<bean id="groupService" class="com.smartdp.platform.service.impl.GroupServiceImpl">
		<property name="baseDao" ref="groupDao" />
	</bean>
	<bean id="groupAction" class="com.smartdp.platform.action.GroupAction"  scope="prototype">
		<property name="groupService" ref="groupService" />
	</bean>
	<bean id="roleDao" class="com.smartdp.platform.dao.impl.RoleDaoImpl" parent="baseDao"></bean>
	<bean id="roleService" class="com.smartdp.platform.service.impl.RoleServiceImpl">
		<property name="baseDao" ref="roleDao" />
	</bean>
	<bean id="roleAction" class="com.smartdp.platform.action.RoleAction"  scope="prototype">
		<property name="roleService" ref="roleService" />
	</bean>
    -->
</beans>