<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<home>
		<code>home</code>
		<name>首页</name>
		<icon>framework/icon/wap/home.png</icon>
		<url></url>
		<apps>
			<app>	
				<code>sinanews</code>
				<name>新浪新闻</name>
				<icon>webos/image/sina.png</icon>
				<url>http://news.sina.cn</url>
			</app>
			<app>	
				<code>sohunews</code>
				<name>搜狐新闻</name>
				<icon>webos/image/souhu.png</icon>
				<url>http://m.sohu.com</url>
			</app>
			<app>	
				<code>news</code>
				<name>新闻</name>
				<icon>webos/image/silver114.png</icon>
				<url>template/wx/index.html</url>
			</app>
			<app>	
				<code>shop</code>
				<name>购物</name>
				<icon>webos/image/gou.jpg</icon>
				<url>http://m.46644.com/tool/tianqi/</url>
			</app>
			<app>	
				<code>weather</code>
				<name>天气</name>
				<icon>webos/image/tianqi.jpg</icon>
				<url>http://m.46644.com/tool/tianqi/</url>
			</app>
			<app>	
				<code></code>
				<name>彩票</name>
				<icon>webos/image/caipiao.gif</icon>
				<url>http://m.46644.com/tool/caipiao/</url>
			</app>
			<app>	
				<code></code>
				<name>违章查询</name>
				<icon>webos/image/weizhang.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>万年历</name>
				<icon>webos/image/calendar.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>快递查询</name>
				<icon>webos/image/kuaidi.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>身份证</name>
				<icon>webos/image/idcard.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>邮编</name>
				<icon>webos/image/zipcode.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>火车</name>
				<icon>webos/image/liecheshike.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>公交</name>
				<icon>webos/image/bus.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>地铁</name>
				<icon>webos/image/gongjiao.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>常用电话</name>
				<icon>webos/image/tel.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>翻译</name>
				<icon>webos/image/fanyi.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>汇率查询</name>
				<icon>webos/image/huilv.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>计算器</name>
				<icon>webos/image/calculator.jpg</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>路况查询</name>
				<icon>webos/image/traffic114.png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>单位换算</name>
				<icon>webos/image/unitconvert.png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>汽车标志</name>
				<icon>webos/image/icon114(2).png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>成语大全</name>
				<icon>webos/image/icon114(3).png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>星座</name>
				<icon>webos/image/xingzuo114.png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>生肖</name>
				<icon>webos/image/shengxiao114(1).png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>百家姓</name>
				<icon>webos/image/bjx114.png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>历史上的今天</name>
				<icon>webos/image/icon114(4).png</icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
			<app>	
				<code></code>
				<name>test</name>
				<icon></icon>
				<url></url>
			</app>
		</apps>
	</home>
	<navigations>
		<navigation>
			<code>message</code>
			<name>消息</name>
			<icon>framework/icon/wap/14.png</icon>
			<url></url>
		</navigation>
		<navigation>
			<code>favorites</code>
			<name>收藏</name>
			<icon>framework/icon/wap/plugmenu18.png</icon>
			<url></url>
		</navigation>
		<navigation>
			<code>config</code>
			<name>设置</name>
			<icon>framework/icon/wap/plugmenu10.png</icon>
			<url></url>
		</navigation>
		<navigation>
			<code>other</code>
			<name>其他</name>
			<icon>framework/icon/wap/plugmenu5.png</icon>
			<url></url>
			<children>
				<navigation>
					<code>news</code>
					<name>新闻</name>
					<icon>framework/icon/wap/plugmenu10.png</icon>
					<url>template/wx/index.html</url>
				</navigation>
				<navigation>
					<code>game</code>
					<name>游戏</name>
					<icon>framework/icon/wap/plugmenu7.png</icon>
					<url></url>
				</navigation>
				<navigation>
					<code>shop</code>
					<name>购物</name>
					<icon>framework/icon/wap/plugmenu9.png</icon>
					<url></url>
				</navigation>
			</children>
		</navigation>
	</navigations>
</menu>